
.top-bg{
    background-color: #F0FFF0;
    padding-bottom: 40px;
}
.navbar-nav .nav-item .sign-in {
    background-color: #21B573;
    width: 104px;
    height: 43px;
    color: white;
    border: none;
    border-radius: 33px;
    padding: 8px 20px;
    margin-left: 10px;
}
.navbar-nav .nav-item .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    padding: 8px 15px;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #4A90E2;
}
.navbar-nav .nav-item .nav-link.active {
    color: #A393BF;
}
.navbar-nav{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 10px;
}
.navbar-nav .nav-item .sign-in {
    background-color: #21B573;
    width: 104px;
    height: 43px;
    color: white;
    border: none;
    border-radius: 33px;
    padding: 8px 20px;
    margin-left: 10px;
}
.container{
    margin-bottom: 5rem;
}
.col-md-5 h6{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FD511A;
}
.col-md-5 h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0%;
}
#green-highlight{
    color: #21B573;
}
P{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #6C6B6B;
}
.get-started{
    border-radius: 33px;
    padding:12px 36px;
    gap: 10px;
    border: none;
    background-color: #21B573;
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: .5rem;
}
.stats-card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    background: #f8fdfa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.stats-card img {
    width: 50px;
    margin-bottom: 10px;
}
.stats-card:hover {
    background: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.stat-section .col-md-3{
    margin-top: -0px;
}
